nav {
  margin: 2.5em auto;
}

.navText {
}

.mainSearchWrap{
  margin: 0 auto;
  margin-top: 2.5;


}

.mainSearchForm {
  display: flex;
  flex-direction: column;
}

#mainSrearchInput{
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}


.searchBtn {
  width: 13em;
  margin: 0 auto;
  margin-top: 4em;
}

.navWrap{

}

footer{
  text-align: center;
  color: ##A8A1AF;
  padding-bottom: 20px;
}
