#loginButton {
  margin-top: 2em;
}

.updateForm {
  margin: 0 auto;
}

.modal {
  margin : 5em;
  margin-left: 10em;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8 ;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
  overflow: hidden;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .productImage{
    display: block;
    float: right;

  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(datalabel);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}


.productImage {
  max-height: 100px;

}
.results {
  padding-top: 3em;
}



.results td, .results th {
  padding: 15px;
}

.results td {
  font-size: 1.3em;
}

.results th {
  font-size: 1.5em;
}

.usernameNav{
  float:right;
}

.loginLinks{
  display: block;
  margin-bottom: .75em;
}

#loginForm {
  margin-top: 5em;
}

.navText {
  padding-bottom: 10px;
}

.mainSearchWrap{
  margin: 0 auto;
  margin-top: 2.5;


}

.mainSearchForm {
  display: flex;
  flex-direction: column;
}

#mainSrearchInput{
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}


.searchBtn {
  width: 13em;
  margin: 0 auto;
  margin-top: 4em;
}

.navWrap{

}

#headerStyle {
  text-Align : center;
  height: 400px;
  color: #65C1E5;
  background-Image: url(../images/closeupMixer.jpg);
  background-Size: cover;
  background-Position: center;
}

footer{
  text-align: center;
  color: ##A8A1AF;
  padding-bottom: 20px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}




/* HEADER & LOGO */

header {
	float: left;
	width: 100%;
  color: white;
	background-color: black;
  margin-bottom: 20px;
  padding: 20px;


	.wrapper {

		position: relative;
		max-width: 35em;
		padding: 2em 0;
	}

}

/* NAV */


/* MAIN */

.main {

	float: left;
	width: 100%;
	font-size: 1em;
}

/* TYPOGRAPHY */

.card {
		background-color: white;
		padding: 3% 2%;
  overflow: hidden;
  width: 48%;
  float: left;
  box-shadow: #035A5E 0 0 1px;
      display: inline-block;
      margin: 10px 1%;

  &:nth-of-type(2n) {


  }

}

/* PRIMARY HEADING */

h1, h2, h3, h4 {
font-family: 'franklin-gothic-urw-comp', serif;
	font-weight: 700;
	line-height: 1.1;
    font-size: 3.998em;
  margin-bottom: .5em;
}

h1.design {
  font-family: helvetica;
  font-weight: bold;
  	font-size: 1.5em;
padding-bottom: 30px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #D8E1E9;
  margin-bottom: 30px;
}
/* PARAGRAPH */


h2 {font-size: 2.827em; font-weight: 500}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

h5 {font-size: 1em; text-transform: uppercase; font-weight: bold; letter-spacing: .15em; color: #65c1e5;}

small {font-size: .95em; font-family: 'Zilla Slab';   color: #65c1e5;}

p {
  font-size: 1.1em;
  margin-bottom: 1em;
}

/* BUTTON */

button {
  display: inline-block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
  letter-spacing: .15em;
	max-width: 200px;
	padding: 0.7em 1.4em;
  background: #035A5E;
	border: 0 solid black;
  color: white;
  font-family: "franklin-gothic-urw-comp";


	&:hover, &:focus {
	}
}

/* ICONS */

.filtered {
   background: #5087BD;
   position: relative;
}
.filtered img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.filtered,
.not-filtered {
  float: left;
  border: 10px solid white;
}
img {
  display: block;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}


/* COLORS */
.colors {
	width: 100%;
  overflow: hidden;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
  padding: 5px;
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
		list-style-type: none;
	width: 120px;
  height: 120px;
    margin: 6px;
		float: left;
    border: 1px solid gray;

		&:last-child {
			margin-right: 0;
		}
	}
}

.photo-left, .photo-right {
	width: 49%;
	float: left;
  margin-bottom: 10px;
  		&:nth-of-type(2n) {
			margin-left: 2%;
		  }
}
